#### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

##### MongoDB is a NoSQL database system that stores data in a flexible, schema-less format, using a document-oriented data model. Non-relational databases, or NoSQL databases, store data without the rigid structure of traditional relational databases, allowing for flexibility in handling unstructured and semi-structured data. 
##### - MongoDB is preferred in scenarios where data doesn't fit neatly into structured tables, requiring the ability to handle unstructured or semi-structured data, such as JSON or XML

#### Q2. State and Explain the features of MongoDB.

##### MongoDB features:

##### - Flexible Schema: Supports dynamic schemas, allowing data to evolve without predefined structures.
##### - Scalability: Horizontal scaling with sharding for handling large datasets and high loads.
##### - High Performance: In-memory storage, automatic indexing, and query optimization for fast data access.
##### - Document-Oriented: Stores data in JSON-like format for easy integration and manipulation.

#### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [1]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://pwskills1:pwskills@cluster0.qosnplv.mongodb.net/?retryWrites=true&w=majority&appName=AtlasApp")
db = client.test

In [4]:
db=client['Assignment'] # Database creation

In [5]:
coll_create=db['mongo1']  # Collection creation

#### Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [6]:
coll_create.insert_one({'Name':'Yoga','Exp':'12+'})

In [7]:
coll_create.insert_many([
    {'Name':'Ramya','Exp':'10+'},
    {'Name':'Krish','Exp':'1+'},
    {'Name':'Phani','Exp':'2+'},
    {'Name':'Sowmya','Exp':'5'},
    {'Name':'Sudh','Exp':'6'}
]
)

In [9]:
coll_create.find_one()  # Returns the first record

{'_id': ObjectId('65144768eeaf271e3adeb84c'), 'Name': 'Yoga', 'Exp': '12+'}

In [11]:
for i in coll_create.find():      # Displays all the records
    print(i)

{'_id': ObjectId('65144768eeaf271e3adeb84c'), 'Name': 'Yoga', 'Exp': '12+'}
{'_id': ObjectId('651447ceeeaf271e3adeb84d'), 'Name': 'Ramya', 'Exp': '10+'}
{'_id': ObjectId('651447ceeeaf271e3adeb84e'), 'Name': 'Krish', 'Exp': '1+'}
{'_id': ObjectId('651447ceeeaf271e3adeb84f'), 'Name': 'Phani', 'Exp': '2+'}
{'_id': ObjectId('651447ceeeaf271e3adeb850'), 'Name': 'Sowmya', 'Exp': '5'}
{'_id': ObjectId('651447ceeeaf271e3adeb851'), 'Name': 'Sudh', 'Exp': '6'}

#### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

In [12]:
for i in coll_create.find():      # Displays all the records
    print(i)

{'_id': ObjectId('65144768eeaf271e3adeb84c'), 'Name': 'Yoga', 'Exp': '12+'}
{'_id': ObjectId('651447ceeeaf271e3adeb84d'), 'Name': 'Ramya', 'Exp': '10+'}
{'_id': ObjectId('651447ceeeaf271e3adeb84e'), 'Name': 'Krish', 'Exp': '1+'}
{'_id': ObjectId('651447ceeeaf271e3adeb84f'), 'Name': 'Phani', 'Exp': '2+'}
{'_id': ObjectId('651447ceeeaf271e3adeb850'), 'Name': 'Sowmya', 'Exp': '5'}
{'_id': ObjectId('651447ceeeaf271e3adeb851'), 'Name': 'Sudh', 'Exp': '6'}

#### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

##### The sort() method in MongoDB is used to sort the documents in a collection based on one or more fields. It allows you to specify the sorting order, whether ascending (1) or descending (-1). By default, sort() arranges documents in ascending order

In [21]:
for i in coll_create.find().sort([["Name",-1]]):    # Arranges Name in descending order
    print(i)

{'_id': ObjectId('65144768eeaf271e3adeb84c'), 'Name': 'Yoga', 'Exp': '12+'}
{'_id': ObjectId('651447ceeeaf271e3adeb851'), 'Name': 'Sudh', 'Exp': '6'}
{'_id': ObjectId('651447ceeeaf271e3adeb850'), 'Name': 'Sowmya', 'Exp': '5'}
{'_id': ObjectId('651447ceeeaf271e3adeb84d'), 'Name': 'Ramya', 'Exp': '10+'}
{'_id': ObjectId('651447ceeeaf271e3adeb84f'), 'Name': 'Phani', 'Exp': '2+'}
{'_id': ObjectId('651447ceeeaf271e3adeb84e'), 'Name': 'Krish', 'Exp': '1+'}

In [20]:
for i in coll_create.find().sort([["Exp",1]]):      # Arranges exp in ascending order
    print(i)

{'_id': ObjectId('651447ceeeaf271e3adeb84e'), 'Name': 'Krish', 'Exp': '1+'}
{'_id': ObjectId('651447ceeeaf271e3adeb84d'), 'Name': 'Ramya', 'Exp': '10+'}
{'_id': ObjectId('65144768eeaf271e3adeb84c'), 'Name': 'Yoga', 'Exp': '12+'}
{'_id': ObjectId('651447ceeeaf271e3adeb84f'), 'Name': 'Phani', 'Exp': '2+'}
{'_id': ObjectId('651447ceeeaf271e3adeb850'), 'Name': 'Sowmya', 'Exp': '5'}
{'_id': ObjectId('651447ceeeaf271e3adeb851'), 'Name': 'Sudh', 'Exp': '6'}

#### Q7. Explain why delete_one(), delete_many(), and drop() is used.

#### - delete_one() method is used to drop a single document from a collection that matches a specific criteria
#### - delete_many() method is used to drop many documents from a collection that matches a specific criteria
#### - drop() method is used to the entire collection

In [22]:
coll_create.delete_one({'Name':'Yoga'})

In [24]:
for i in coll_create.find():   
    print(i)

{'_id': ObjectId('651447ceeeaf271e3adeb84d'), 'Name': 'Ramya', 'Exp': '10+'}
{'_id': ObjectId('651447ceeeaf271e3adeb84e'), 'Name': 'Krish', 'Exp': '1+'}
{'_id': ObjectId('651447ceeeaf271e3adeb84f'), 'Name': 'Phani', 'Exp': '2+'}
{'_id': ObjectId('651447ceeeaf271e3adeb850'), 'Name': 'Sowmya', 'Exp': '5'}
{'_id': ObjectId('651447ceeeaf271e3adeb851'), 'Name': 'Sudh', 'Exp': '6'}

In [27]:
coll_create.delete_many({'Exp':{'$gte':'5'}})

In [28]:
for i in coll_create.find():   
    print(i)

{'_id': ObjectId('651447ceeeaf271e3adeb84d'), 'Name': 'Ramya', 'Exp': '10+'}
{'_id': ObjectId('651447ceeeaf271e3adeb84e'), 'Name': 'Krish', 'Exp': '1+'}
{'_id': ObjectId('651447ceeeaf271e3adeb84f'), 'Name': 'Phani', 'Exp': '2+'}

In [29]:
coll_create.drop()

In [30]:
for i in coll_create.find():   
    print(i)