Q1.

i. String

In [1]:
a='Yoga'

ii.List

In [2]:
l=[1,2,3,4,'abc',['a','b','c']]

iii. Float

In [3]:
f=12.059

iv.Tuple

In [4]:
t=('Sudh','Krish','Yoga')

Q2. Datatypes

i. var1=' '

In [8]:
var1=' '
type(var1)

str

In [10]:
var2='[DS,ML,Python]'
type(var2)

str

In [11]:
var3 = ['DS' ,'ML' ,'Python' ]
type(var3)

list

In [12]:
var4=1
type(var4)

int

Q3. Use of operators

Operator ' / ' is used to denote division of 2 numbers. For eg. 5/2 = 2.5

In [13]:
5/2

2.5

Operator '%' is called as the modulo operator and is used to get the remainder from the division of 2 numbers. For eg: 5%2=1

In [14]:
5%2

1

Operator '//' is used to get the quotient from the division of 2 numbers. for eg: 5//2=2

In [15]:
5//2

2

Operator ** is used as an exponentiation of a number. for eg. 2**3=8. 2 power 3 is 8 in other words

In [16]:
2**3

8

Q4. For loop

In [17]:
l1=[1,2,3,4,5,'abc','cde',(5,6,8),['too','loo','woo','moo'],33.25]

In [18]:
for i in l1:
    print(f'The datatype of {i}:',type(i))

The datatype of 1: <class 'int'>
The datatype of 2: <class 'int'>
The datatype of 3: <class 'int'>
The datatype of 4: <class 'int'>
The datatype of 5: <class 'int'>
The datatype of abc: <class 'str'>
The datatype of cde: <class 'str'>
The datatype of (5, 6, 8): <class 'tuple'>
The datatype of ['too', 'loo', 'woo', 'moo']: <class 'list'>
The datatype of 33.25: <class 'float'>

Q5. While loop

In [20]:
a=60
b=12

In [21]:
while a%b==0:
    print(a//b)
    break

5

Q6. List with For loop and if else- divisible check by 3

In [24]:
for i in range(1,26):
    if i%3==0:
        print(f'The number {i} is divisible by 3')
    else:
        print(f'The number {i} is not divisible by 3')

The number 1 is not divisible by 3
The number 2 is not divisible by 3
The number 3 is divisible by 3
The number 4 is not divisible by 3
The number 5 is not divisible by 3
The number 6 is divisible by 3
The number 7 is not divisible by 3
The number 8 is not divisible by 3
The number 9 is divisible by 3
The number 10 is not divisible by 3
The number 11 is not divisible by 3
The number 12 is divisible by 3
The number 13 is not divisible by 3
The number 14 is not divisible by 3
The number 15 is divisible by 3
The number 16 is not divisible by 3
The number 17 is not divisible by 3
The number 18 is divisible by 3
The number 19 is not divisible by 3
The number 20 is not divisible by 3
The number 21 is divisible by 3
The number 22 is not divisible by 3
The number 23 is not divisible by 3
The number 24 is divisible by 3
The number 25 is not divisible by 3

Q7. 
- Mutable datatype means, the elements of a particular datatype can be modified such as a list

- Immutable datatype means the elements of a particular datatype cannot be modified such as a string

In [26]:
l=['a','b','abc','def']

In [29]:
l[0]='Mango'     # List is Mutable

In [28]:
l

['Mango', 'b', 'abc', 'def']

In [30]:
s1='Ladysfinger'

In [32]:
s1[0]='M'        # String is immutable

TypeError: 'str' object does not support item assignment