#### Q1. What is a database? Differentiate between SQL and NoSQL databases. explain in 75 words

##### A database is a structured collection of data that allows for efficient storage, retrieval, and management of information. SQL (Structured Query Language) and NoSQL (Not Only SQL) databases are two main types:

##### - SQL databases are relational databases with a predefined schema, using tables to store data. They ensure data consistency and support complex queries, making them ideal for structured data. Examples include MySQL and PostgreSQL.

##### - NoSQL databases are non-relational, offering flexibility with schema-less data storage. They excel at handling unstructured or semi-structured data, making them suitable for rapidly changing data requirements. Examples include MongoDB and Cassandra.

#### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

# The below code covers the examples for DDL, DML and DQL

# using MYSQL


CREATE DATABASE if not exists test

create table if not exists test.employee(empid int, ename VARCHAR(50),dob int,salary FLOAT)

insert into test.employee values(100,'Sunita',04071984,20000);
insert into test.employee values(101,'Anita',04101987,15000);
insert into test.employee values(101,'Anita',04101987,15000);
commit

select * from test.employee

alter table test.employee add dept varchar(50)

update test.employee set dept='Retail' where salary<17000;
commit;

update test.employee set dept='sales' where salary>17000;
commit;

select * from test.employee

delete from test.employee where empid=100;
commit;

truncate table test.employee;

select * from test.employee;

drop table test.employee;

select * from test.employee;

drop database test;

# using Python

import mysql.connector

##### Create a database connection
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

##### Create a cursor to execute SQL queries
mycursor = mydb.cursor()

##### Create a database if it doesn't exist
mycursor.execute("CREATE DATABASE IF NOT EXISTS test1")

##### Switch to the "test1" database
mycursor.execute("USE test1")

##### Create a table if it doesn't exist
mycursor.execute("CREATE TABLE IF NOT EXISTS employee(empid INT, ename VARCHAR(50), dob INT, salary FLOAT)")

##### Insert data into the table
mycursor.execute("INSERT INTO employee VALUES (100, 'Sunita', 04071984, 20000)")
mycursor.execute("INSERT INTO employee VALUES (101, 'Anita', 04101987, 15000)")
mycursor.execute("INSERT INTO employee VALUES (102, 'John', 01011990, 18000)")

##### Commit changes to the database
mydb.commit()

##### Alter the table to add a new column
mycursor.execute("ALTER TABLE employee ADD dept VARCHAR(50)")

##### Update rows in the table
mycursor.execute("UPDATE employee SET dept='Retail' WHERE salary < 17000")
mycursor.execute("UPDATE employee SET dept='Sales' WHERE salary >= 17000")

##### Commit changes to the database
mydb.commit()

##### Fetch and print data from the table
mycursor.execute("SELECT * FROM employee")
for x in mycursor.fetchall():
    print(x)

##### Delete a row from the table
mycursor.execute("DELETE FROM employee WHERE empid=100")

##### Truncate the table
mycursor.execute("TRUNCATE TABLE employee")

##### Drop the table
mycursor.execute("DROP TABLE employee")

##### Commit changes and close the database connection
mydb.commit()
mydb.close()

##### DDL is a data definition language and is used to define the structure of a database like tables, views, schemas and  constraints

#### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

##### DML (Data Manipulation Language) is used to manipulate data stored in a database. DML is primarily responsible for performing operations on the data within database tables

#### Q4. What is DQL? Explain SELECT with an example.

##### DQL (Data Query Language) is used to retrieve, query and fetch data from one or more database tables

#### Q5. Explain Primary Key and Foreign Key.

##### A primary key is a unique identifier for each record in a relational database table
##### A foreign key is a field in a database table that establishes a link between the data in two related tables. It enforces referential integrity by ensuring that values in the foreign key column match values in the primary key column of another table, creating relationships between tables

#### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

#create user 'user'@'%' identified by 'password'

mydb = mysql.connector.connect(

  host="localhost",
  
  user="abc",
  
  password="password"
  
)

print(mydb)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE if not exists test1")

##### The cursor() method is used to create a cursor object, it establishes a connection between your Python code and the database, allowing you to send SQL queries and retrieve data.

##### The execute() method is used to execute SQL statements and queries through the cursor. It takes an SQL query as a parameter and sends it to the database for execution.

#### Q7. Give the order of execution of SQL clauses in an SQL query.

##### In SQL, when you write a query, the clauses are executed in a specific order, and the result is obtained through a series of logical steps. The order of execution for the clauses in an SQL query is as follows:

##### - FROM: The FROM clause specifies the table(s) from which you are retrieving data. It identifies the source of the data for your query.

##### - WHERE: The WHERE clause is used to filter rows from the tables specified in the FROM clause. It defines the conditions that must be met for a row to be included in the result set.

##### - GROUP BY: If you want to group rows together based on the values in one or more columns, you use the GROUP BY clause. This clause is often used in combination with aggregate functions like SUM, COUNT, AVG, etc.

##### - HAVING: The HAVING clause is used to filter the result set after grouping has been performed. It specifies conditions that must be met by groups (not individual rows) in the result set.

##### - SELECT: The SELECT clause determines which columns from the tables or result sets should be included in the final output. It can also contain expressions and calculations.

##### - DISTINCT: The DISTINCT keyword is used within the SELECT clause to eliminate duplicate rows from the result set.

##### -  ORDER BY: The ORDER BY clause is used to sort the result set based on one or more columns in ascending (ASC) or descending (DESC) order.

##### - LIMIT/OFFSET (if supported): These clauses limit the number of rows returned by the query and allow for pagination of large result sets. They are often used for displaying a specific subset of data.

##### - UNION/INTERSECT/EXCEPT (if used): If your query involves combining or comparing multiple result sets, these set operations are executed at this stage.